/* Link Hover Effect Source:  https://youtu.be/IYTBAQRBsw0*/
/* Hamburger Menu Source: https://calpoly.zoom.us/rec/play/RAuWsQRJAuX1hGkJQPRSmPRGTpn3KG0RB-i6LC729L7roObXQJKJ2PyK9t6rDLhoQW1H31h4uNPplNDJ.jpdE6eUW9b_BbuYp?startTime=1603340140000&_x_zm_rtaid=2boXq_5CTjujwo-s2Thfxg.1604270789488.027a6c86f4da9ec544ff51609c44e6e6&_x_zm_rhtaid=525 */
/* Contact Form Source: https://youtu.be/GMH3rNTN4IQ 
    Responsive Contact Form Source: https://youtu.be/SmEnloWUluM */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    transition: 0.2s ease all; /* Create Animation transition for navigation */
    box-sizing: border-box; /* Default margin:0; padding:0; of the container
    When you set the height n width, 
    keep the padding inside the screen instead of extending outside.*/
}

body, html { /*main needs to stay or background image will break*/
    margin: 0;
    padding: 0;
    background:  #f5f0ea;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-padding-top: 95px; /* Keep content below the header when using navigation link
    Source: https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/ */
}

/* // CSS for Navigation Header (START) // */
header>a {
    /* Logo Display */
    margin: 10px 1em;
    width: 75px;
    height: 75px;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    background: url(img/logo1.png); /*Logo change source: https://youtu.be/V8eAyZjfuZc */
    background-size: cover; /*Logo will change size based on background size*/
}
header>a:hover {
    background: url(img/logo2.png);/*Change logo image when hover*/
    background-size: cover; 
}
header {
    /* Header Navigation Size, Color, Boundary */
    /* Fixed Navigation Bar*/
    position: fixed;/* Navigation bar does not move */
    top: 0;         /* Stay fixed on top */
    width: 100%;    /* Length of the navigation bar */
    z-index: 5;     /* Allow header to be over the main content */
    /* Fixed Navigation Bar Reference: https://www.w3schools.com/howto/howto_css_fixed_menu.asp*/
    display: grid;
    grid-template-columns: 1fr 5fr;
    background: #f5f0ea;
    border-bottom: 3px solid #9ca588;
}
li {
    /* Gets rid of bullet point on navigation */
    display: inline;
}
nav > ul {
    /* Flex place navigation content on the right */
    display: flex;
    justify-content: right;
    align-items: center; /* vertically center content */
    height: 100%;
    margin-right: 2em; 
}
nav a {
    /* Navigation Link specification */
    text-decoration: none; /* gets rid of default underline */
    display: inline-block;
    color: #65666b;
    font-size: 20px;
    padding: 10px 15px;
}

nav a:hover {
    /* hover effects for navigation */
    color: #dd8a5e;
}
.cool-link::after {
    /* Create underline that will animate from length 0 to 100 of the block*/
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #dd8a5e;
    transition: width .3s;
}
.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
/* // CSS for Navigation Header (END) // */


/* // CSS for Main Content (START) // */
.pimg1 {
    /* Welcome Page "Book Review" Display */
    /* Parallax Background Image for Home Page*/
    background-image: url('https://images.pexels.com/photos/4068029/pexels-photo-4068029.jpeg');
    height: 100vh; /*Allows to adjust the item by viewport height*/
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
}

.ptext, .modal {
    /* text for the parallax Page*/
    height: 100vh; /*Set element height as 100% of viewport*/
    padding-top: 50vh; /*Start the element at 50% of the viewport height*/
}

.pimg1 h2, .modal-content {
    transform: translateY(-50%); /*Move the element up half its height; Now the text (vertical location) is in the middle of the viewport!*/
    padding: 1em 0;
    max-width: 50%;
    margin: 0 auto; /*Center the text (horizontally)*/
    
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-weight: 300; /*Normal weight*/
    font-size: 70px;
    
    border-radius: 25px; /* rounded corners Referece: https://www.w3schools.com/css/css3_borders.asp*/
    background-color: rgba(255,255,255,0.75);
    color: #65666b;
}

.section-green {
    /* Section for Book Review Page*/
    padding: 80px 15%;
    text-align: center;
    background-color: #9ca588;
}

.section-green img {
    /* Book Cover Images */
    width: 141px;
    margin: 10px;
    border-radius: 5px;
    /*transition: solid .3s; smooth animation for book cover size increase when hover */
    cursor: pointer;
}

.section-green img:hover {
    /*width: 151px; Create glitch when there is little space between img*/
    outline: 5px solid  #f5f0ea;
    -moz-outline-radius: 10px; /*rounded corners*/
    transition: outline 0s;
    /*transition: solid .3s; smooth animation for book cover size increase when hover */
}

/* Modal Section code */
.modal {
    /* Create opaque overlay*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background: rgba(0,0,0,0.4);
    animation: modal-open .5s; /* Smooth Animation for modal display*/
    display: none;
}

.modal-content {
    padding: 8px 24px;
    z-index: 4;

    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
    background-color: #f5f0ea;
}

.modal-content h3 {
    padding: 5px 0;
    font-size: 25px;
    color:  #dd8a5e;
}
.modal-content p {
    padding: 0 1em;
    text-align: left;
    font-size: 20px;
}
/* Close button for Modal*/
.modal-close {
    float: right;
    margin-right: 10px;
    font-size: 60px;
    color:  #dd8a5e;
    cursor: pointer;
}

.section-contact {
    /* Section for Contact Page*/
    padding: 0 15%;
    text-align: center;
    background-color: #f5f0ea;
}
.form-section {
    display: grid;
    width: 100%;
    grid-gap: 5%; /* Gap between form-left and form-right*/
    grid-template-columns: repeat(2, 1fr);
}
/* Contact-from left styling */
.form-left {
    transform: translateX(-10%);
    max-width: 452px;
    margin-bottom: 43px;
}
.form-left img {
    /* Relative image */
    top: 0;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Contact-form right styling */
.form-right {
    padding-top: 80px;
    margin-bottom: 43px;
}
.contact-title>h2 {
    /*"Get In Touch" h2 */
    text-align: left;
    font-family: 'Great Vibes', cursive;
    font-weight: 300; /*Normal weight*/
    font-size: 70px;
    color: #65666b;
    transition: all 1s ease-in-out;
}

.form-control {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;

    border: none;
    outline: none;
    background: transparent;
    color: #9ca588;
}
.form-length {
    /* Contact input with green lines */
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px; /*Space under standin word*/
    border-bottom: 3px solid #9ca588;
}
input.submit {
    /* Submit button */
    padding: 10px 15px;
    float: right;
    font-weight: 10;
    border: 3px solid #9ca588;
    border-radius: 25px;
}

footer {
    padding: 10px; 
    text-align: center;
    background-color:  #dd8a5e;
    color: #65666b;
}



/* // CSS for Main Content (END) // */

/* Animation for Modals */
@keyframes modal-open{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width:900px) {
    /* Responsive for Tablet */
    .pimg1 h2, .modal-content {
        max-width: 70%;
    }

    .section-green {
        background-color: #9ca588;
        text-align: center;
        padding: 80px 10%;
    }
    .section-contact {
        background-image: url('https://images.pexels.com/photos/3728085/pexels-photo-3728085.jpeg');
        width: 100vw; /*Allows to adjust the item by viewport height*/
        height: 100vh; /*Cover the height of contact form */
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    /*
        fixed = parallax
        scroll = normal
    */
        background-attachment: fixed;
        display: inline-block;
    }
    .form-left {
        /*Image in Contact disappear*/
        display: none;
    }
    .form-section {
        /* Box around the Contact Form*/
        width: 100%;
        padding: 10%;
        grid-template-columns: repeat(1, 1fr); /* Allow form-right to stretch out to full width*/
        transform: translateY(20%);
        
        border-radius: 25px; /* rounded corners Referece: https://www.w3schools.com/css/css3_borders.asp*/
        background-color: #f5f0ea;
    }
    .form-right {
        transform: translateY(-10%);
        padding-top: 0; /* In account of padding-top on desktop*/
        margin-bottom: 0;
    }
}

@media (max-width:568px) {
    /* Responsive for Mobile*/

/* // CSS for Navigation Header (START) // */
    header {
        min-height: 4em;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }

    header>a {
        /* Logo Display */
        margin: 0.4em;
        width: 70px;
        height: 70px;
    }
    nav {
        /* Move navigation Links to the top (unseen) */
        margin-top: -1000px;
    }
    .show-menu nav {
        /* Bring navigation Links down to view */
        margin-top: 0;
    }

    li, nav > ul {
        display: block;
        font-size: 2em;
    }
    
    /* Hamburger menu */
    .toggle {
        display: block;
        position: absolute;
        top: 2em;
        right: 2em;
    }
    .toggle span {
        /* Turn spans into lines for Hamburger Icon */
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 7px;
        background: #dd8a5e;
        z-index: 6;
    }
    /* Change that will occur when hamburger is clicked */
    .show-menu .toggle span:nth-child(2) {
        opacity: 0;
    } .show-menu .toggle span:first-child {
        transform: rotate(45deg) translateY(17px);
    } .show-menu .toggle span:last-child {
        transform: rotate(-45deg) translateY(-17px);
    }
/* // CSS for Navigation Header (END) // */

    html {
        scroll-padding-top: 4em; /* Keep content below the header when using navigation link
        Source: https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/ */
    }

    .pimg1 h2, .modal-content {
        max-width: 60%;
        font-size: 55px;
        padding: 100px 20px;
    }

    .section-green {
        background-color: #9ca588;
        text-align: center; /* Book img act like text, not float or grid */
        padding: 80px 5%;
    }

    .modal-content {
        max-width: 80%;
        padding: 8px 24px;
    }
    .modal-content p {
        padding: 0;
    }

}
